.question
{
    min-width: 1110px;
    min-height: 150px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: #77BFA3 solid 2px;
    color: black;
    clear: both;
}

.question:hover
{
    background-color: #e6e6e6;
    color: black;
}

.title
{
    font-family: 'Courier New', Courier, monospace;
}
.discription
{
    float: left;
    text-align: left;
    width: 600px;
}
.titleInput
{
    font-family: 'Courier New', Courier, monospace;
}
.discriptionInput
{
    float: left;
    text-align: left;
    min-width: 500px;
}
.counter
{
    float: left;
    width: 140px;
    font-size: 48px;
    text-align: right;
    color: #98C9A3;
}
.break
{
    min-width: 100px;
}
.empty
{
    padding-bottom: 30px;
    clear: both;
}