.recent-posts
{
    float: left;
    padding: 10px;
    min-height: 400px;
    width: 260px;
}

.recent-posts:hover
{
    background-color: #e6e6e6;
    color: black;
}

.empty
{
    clear: both;
}

#picture
{
    float: left;
}

#description
{
    float: left;
    width: 700px;
    padding-left: 50px;
}

.recent-image
{
    height: 200;
    width: 263;
}