.recent-posts
{
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 50px;
    min-height: 450px;
    width: 277px;
}

.recent-posts:hover
{
    background-color: #e6e6e6;
    color: black;
}

.empty
{
    clear: both;
}

#picture
{
    float: left;
}

#description
{
    float: left;
    width: 500px;
    padding-left: 50px;
}

.recent-image
{
    height: 200;
    width: 263;
}